*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    
}
.logo{
    color:#ff004f; ;
    font-size: 40px;
}
.container{
    padding: 5px 10%;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}
nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    background: #ff004f; 
    position:absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-font{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.header-text{
    margin-top: 10%;
    font-size: 20px;
    text-align: left;
    
}
.header-text h1{
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 60px;
}
.name{
    color: #ff004f;
}

#about{
padding: 80px 0;
color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 15px;
    
}
.skill{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
margin-top: 20px;
margin-bottom: 10px;
}
.btn-1{background: #ff004f;
    padding:10px 15px ;
    border-radius: 10px;
    color: #fff;
    font-size: large;
    margin: 10px 0px;

}
.services{
    padding:30px 0;
    margin-bottom: 20px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.service-text{
    
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 500;
    
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div:hover{
    background: #ff004f;
    transform: translate(-10px);
}
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:60px;
    margin-top: 50px;
    margin-bottom: 10px;

}
.work{

    position: relative;
    overflow: hidden;

}

.work-1 img{
    width: 100%;
    
    display: block;
}
.work img{
    width: 117%;

    display: block;
}
.layer{
    margin: 10px 10px;
    

}
.work-name{
    color: #ff004f;
}
.site{
    text-decoration: none;
    
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width:100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.btn{
    background: #ff004f;
    padding:10px 30px ;
    border-radius: 10px;
    color: #fff;
    font-size: large;
    cursor: pointer;
    
}
nav .fas{
    display: none;
}
@media only screen and (max-width:600px){
    #header{
        width: 100%;
        height: 60vh;
        
    }
    .header-text h1{
    font-size: 30px;
    margin-bottom: 30px;
    }
    .header-font{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 80px;
    }
    .header-text{
    
        font-size: 16px;
        text-align: left;
        
    }
    .row{
        display: inline;
        
    }
    .about{
        padding: 20px 0;
    }
    .about-col-2{
        margin-top: 30px;
    
    }
    .sub-title{
        margin-bottom: 15px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
        cursor: pointer;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }

}
nav ul .fa-solid{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}

